.spacing {
    text-align: center;
    margin: 2em;
}

.box {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    height: 500px;
}

body {
    background-image: url(../Images/backround.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}